@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600");

@import "settings";
@import "foundation";

table {
	border-spacing: 0;

	form,
	button {
		margin: 0;
	}
}

.top-bar {
	margin-bottom: 44px;

	.button.primary {
		color: #5C6666;
		background: white;
		outline: none;

		&:hover {
			color: #62b1d9;
			background: white;
		}

		&:active {
			color: #95CBE5;
			background: #47A0CC;
		}
	}

}

